:root{
    --bg-color-full: #eeeeee;
    --bg-color: #fff;
    --bg-color-dark: #242424;
    --bg-header: #3075ce;
    --color-text: #fff;
    --color-text-dark: #242424;
    --bg-button: #3075ce;
    --bg-task: #3075ce;
    --bg-task-complete: rgb(48, 206, 119);
    --bg-task-complete-blur: rgba(48, 206, 119, 0.5);
    --bg-task-delete: rgba(36, 36, 36, 0.5);
    --bg-task-delete-red: #e43838;
    --bg-task-delete-red-blur: rgba(228, 56, 56, 0.5);
    --btn-ease: #4dfd9f;
    --btn-medium: #f1fd4d;
    --btn-hard: #fd4d4d;
}